---
import WarningIcon from "~/assets/icons/warning.svg";

interface Props extends astroHTML.JSX.InputHTMLAttributes {
  label: string;
}

const { label, ...props } = Astro.props;
---

<div class="input-field relative mb-4">
  <label for={props.name} class="sr-only">
    {label}
  </label>

  <input
    {...props}
    class="peer w-full border-b border-white bg-transparent px-6 py-4 text-base leading-relaxed text-white placeholder:text-white placeholder:uppercase placeholder:opacity-50"
  />

  <WarningIcon
    class="absolute top-1/2 right-0 hidden size-6 h-6 w-6 -translate-x-1/2 -translate-y-1/2 peer-focus:peer-invalid:inline-block"
  />
</div>
