---
import { socials } from "~/constants/config";
---

{
  socials.map(({ icon: Icon, link, name }) => (
    <a href={link} title={name} target="_blank" class="social-link">
      <Icon class="h-6 w-auto" />
    </a>
  ))
}

<style is:global>
  a.social-link {
    > svg > path {
      transition: fill 250ms ease-in-out;
    }

    &:hover > svg > path {
      fill: var(--color-vf-accent);
    }
  }
</style>
