---
import { site } from "~/constants/config";
import Socials from "./Socials.astro";
---

<footer
  id="vf-footer"
  class="bg-slate-800 pt-10 pb-15 sm:pt-7.5 sm:pb-10 lg:pt-12 lg:pb-23"
>
  <nav
    class="wrapper flex flex-wrap items-center justify-center gap-x-6 gap-y-5 sm:justify-start sm:gap-8 sm:text-left lg:pr-7.5"
  >
    <a
      href="/"
      class="shrink-0 grow basis-full text-center text-[clamp(1.5rem,1.02rem+2.04vw,2rem)] leading-none text-white no-underline sm:text-left md:basis-auto lg:mr-auto lg:shrink lg:grow-0"
    >
      {site.shortName}
      <span class="text-[.8em]"> &copy; {new Date().getFullYear()}</span>
      <span class="sr-only">(to home page)</span>
    </a>

    <Socials />
  </nav>
</footer>
