---
import { site } from "~/constants/config";
import Socials from "./Socials.astro";
---

<header id="vf-header" class="relative z-1 mt-5 sm:mt-7.5 lg:mt-10 lg:mb-31.75">
  <nav
    class="wrapper flex flex-wrap items-center justify-center gap-x-6 gap-y-5 sm:justify-start sm:gap-8 sm:text-left lg:pr-7.5"
  >
    <a
      href="/"
      class="shrink-0 grow basis-full text-center text-[clamp(1.5rem,1.02rem+2.04vw,2rem)] leading-none text-white no-underline sm:text-left md:mr-auto md:basis-auto lg:shrink lg:grow-0"
    >
      {site.shortName}
      <span class="sr-only">(to home page)</span>
    </a>

    <Socials />
  </nav>
</header>
